*{
  box-sizing: border-box;
  /* margin: 0 !important;
  padding: 0 !important; */
}
.container{
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
a {
  text-decoration: none;
  color: #0078d4;
  font-weight: 500;
  margin: 0 8px;
} 

.p4{
  padding: 1rem !important;
}

/* body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #f7f9fc;
  color: #333;
  margin: 0;
  padding: 0;
} */

/* button { */
  /* background-color: #0078d4; */
  /* color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
} */