:host {
  display: flex;
  flex-direction: column;
  height: 100% !important; /* ensures the component fills available space */
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; /* avoid double scrollbars */
}

p-table {
  flex: 1;
  height: 100%;
}