<div class="form-container" >
  <h3>➕Add User</h3>
  <form #form="ngForm" (ngSubmit)="addUser()">
    <input type="text" placeholder="Name" [(ngModel)]="user.name" name="name" required />
    <input type="text" placeholder="Hostname" [(ngModel)]="user.hostname" name="hostname" required />
    <input type="text" placeholder="IP Address" [(ngModel)]="user.ipAddress" name="ipAddress" required
      pattern="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
      #ipInput="ngModel" />
    <div class="error-message" *ngIf="ipInput.invalid && ipInput.touched">
      <small *ngIf="ipInput.errors?.['required']">IP Address is required.</small>
      <small *ngIf="ipInput.errors?.['pattern']">Enter a valid IPv4 address (e.g., 192.168.1.10).</small>
    </div>
    <select [(ngModel)]="user.department" name="department" required>
      <option value="">Select Department</option>
      <option *ngFor="let dept of departments">{{ dept }}</option>
    </select>
    <button type="submit"  type="submit"
    [disabled]="form.invalid"
    class="submit-btn">Add User</button>
  </form>
</div>