  <div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <div class="logo-section">
          <img src="../assets/logo/apex-logo.png">
       <!-- <i class="pi pi-check-circle"></i>  -->
          <h1>Asset Management</h1>
        </div>
        <!-- <p class="tagline">Secure Access to Your Infrastructure</p> -->
      </div>

      <form (ngSubmit)="sendResetLink()" class="login-form">
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-wrapper">
            <i class="pi pi-lock"></i>
            <input 
              id="email"
              type="email" 
              [(ngModel)]="email" 
              name="email"
                placeholder="Enter your email"
              class="form-input"
              required />
          </div>
        </div>

        <button type="submit" class="login-button" [disabled]="disableSubmit()" [class.disabled-btn]="disableSubmit()">
          <i class="pi pi-sign-in"></i>
            Send Reset Link
        </button>
      </form>
    </div>

    <!-- Decorative Background -->
    <div class="login-background">
      <div class="blob blob-1"></div>
      <div class="blob blob-2"></div>
      <div class="blob blob-3"></div>
    </div>
  </div>