.container {
  max-width: 100% !important;
}

.login-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.p-megamenu {
  position: relative;
   display: inline-block !important;
  z-index: 1000;
}
.custom-mega-menu .p-megamenu-panel {
  width: auto !important;
  min-width: 220px;
  max-width: 400px;
}

.p-megamenu-panel {
  width: auto !important;
  min-width: 220px !important; /* optional for consistency */
  max-width: 400px !important; /* optional if you have many columns */
}

.p-megamenu-panel {
  z-index: 1100 !important;
}

.card {
  /* background: var(--card-bg); */
  /* height: 8vh;
  border: var(--card-border);
  padding: 0.8rem 0.2em;
  border-radius: 10px; */
  /* margin-bottom: 1rem; */
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  font-size: 14px;
}

.login-form button {
  padding: 10px;
  background: #0078d4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-form button:hover {
  background: #005ea6;
}

.error-message {
  color: #d73a49;
  font-size: 14px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5em;
  margin-top: 1.2em;
  margin-right: 1em;
}

.logout-btn {
  padding: 8px 16px;
  background: #6e7781;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #545d66;
}